#circle{
    fill: #6EEFC2;
    stroke: #10B35E;
    position: absolute;
}

#triangle{
    fill: #29EBE8;
    stroke: #298FEB;
    position: absolute;
}

#rectangle{
    fill: #C746EF;
    stroke: #9946EF;
    position: absolute;
}
.figure:hover{
    opacity: 70%;
}

#moving_dot{
    fill: darkred;
}